#app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100vh;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  width: 300px;
  height: 100%;

  background-color: #481073;
  color: #ffffff;

  ul {
    padding: 0;
    list-style: none;
    text-align: left;

    li {
      padding: 15px;

      &, a {
        color: #ffffff;
      }
    }
  }
}

.workspace {
  padding: 15px;

  width: 100%;
  height: 100%;

  color: #340b54;

  overflow: auto;
}
