$brand-color: #7D256F;
$white: #ffffff;
$text: #340b54;


#app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100vh;
  width: 100vw;

  * {
    box-sizing: border-box;
  }
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  width: 300px;
  min-width: 300px;
  max-width: 300px;

  height: 100%;

  background-color: $brand-color;
  color: $white;

  .wb-logo {
    position: relative;
    align-self: center;

    display: flex;
    flex-flow: column;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 50px;

    width: 100%;

    img {
      width: 100%;
      max-width: 250px;
    }
  }

  a {
    width: 100%;
    padding: 15px;

    font-size: 15px;
    font-weight: bold;

    text-transform: uppercase;
    color: $white;

    text-decoration: none;

    &:hover {
      background-color: darken($brand-color, 5%);
    }
  }
}

.workspace {
  width: 100%;
  height: 100%;

  color: #340b54;

  overflow: auto;

  .page {
    padding: 15px;
  }
}

.delivery {
  .delivery-data {
    display: flex;
    align-items: center;
    justify-content: space-between;

      .delivery-items-list {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        .delivery-item {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-flow: row nowrap;
          width: 100%;
        }
      }

      .delivery-client-info {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
  }
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  .form-input {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    margin-bottom: 10px;

    label {
      font-size: 14px;
      margin-bottom: 5px;
    }

    input {
      padding: 8px 15px;

      border: 1px solid lighten(#340b54, 10%);
      border-radius: 5px;
      outline: none;

      width: 100%;

      &:focus {
        border-color: #340b54;
      }

      &:disabled {
        border-color: #ececec;
      }
    }
  }
}

button {
  padding: 8px 15px;
  font-size: 15px;

  background-color: $brand-color;
  color: $white;
  font-weight: bold;

  border-radius: 5px;
  border: none;
  align-self: flex-end;

  cursor: pointer;

  transition: all .2s;

  &:not(:disabled):hover {
    filter: brightness(1.1);
  }

  &:disabled {
    background-color: #ececec;
    color: #989898;
  }
}

.error {
  color: #d6322b;
}
